* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #b3dfea;
}

.logo {
	margin-top: 5px;
	text-align: center;
	font-family: sans-serif;
	font-size: 25px;
	font-weight: 800;
}

.menuItems {
	display: flex;
	width: 100%;
}

.buttons1 {
	width: 20%;
	margin: 0px 30px 0px 30px;
}

.buttons2 {
	width: 20%;
	margin: 0px 30px 0px 30px;
}

.buttons3 {
	width: 60%;
	margin: 0px 30px 0px 30px;
}

.menuItems ul {
	display: flex;
	justify-content: space-between;
	padding: 0;
}

.menuItems ul li {
	list-style: none;
}

.menuItems ul button {
	margin: 0px 10px 0px 10px;
	padding: 0;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 30px;
}

#searchButton {
	margin: 0px 10px 0px 10px;
	padding: 0;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 30px;
}

main {
	display: flex;
	height: 85vh;
}


.folderArea {
	margin: 30px;
	background-color:#D1F4FA;
	width: 20%;
	border-radius: 15px;
	overflow-y: hidden;
}


.listArea {
	margin: 30px;
	background-color:#D1F4FA;
	width: 20%;
	border-radius: 15px;
	overflow-y: scroll;
}

.listArea::-webkit-scrollbar {
	background-color: #7a99c4;
}

.textArea {
	margin: 30px;
	background-color:#D1F4FA;
	width: 60%;
	border-radius: 15px;
	overflow-y: hidden;
}


footer {
	text-align: center;
}
